<template>
  <HelloWorld></HelloWorld>
</template>

<script>
import HelloWorld from "../components/HelloWorld";

export default {
  components: {
    HelloWorld
  },
  data() {
    return {};
  }
};
</script>
