<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid>
        <LoginForm />
      </v-container>
    </v-content>
  </v-app>
</template>
<style></style>
<script lang="ts">
import LoginForm from "../components/LoginForm.vue";
import Vue from "vue";
export default Vue.extend({
  components: {
    LoginForm
  },
  data() {
    return {};
  }
});
</script>
