<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs3 sm3 mb-3 offset-sm1>
        <h1>My Projects</h1>
        <hr />
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm4 lg3 class="project">
        <Projecto />
      </v-flex>
      <v-flex xs12 sm4 lg3 class="project">
        <Projecto />
      </v-flex>
      <v-flex xs12 sm4 lg3>
        <Projecto />
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm3 my-3 offset-sm1>
        <h1>Last Maps</h1>
        <hr />
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs1 sm1 mr-5>
        <v-btn dark bottom right color="pink" fixed>
          <v-icon>add</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script lang="ts">
import Vue from "vue";
import Projecto from "../components/Projecto.vue";
export default Vue.extend({
  components: {
    Projecto
  },
  data() {
    return {};
  }
});
</script>
<style scoped>
@media (min-width: 1420px) {
  .project {
    margin-right: 5px;
    margin-bottom: 3px;
  }
}
</style>
