<template>
  <v-footer color="indigo" absolute>
    <v-layout justify-center row wrap>
      <v-flex lighten-2 py-3 text-xs-center white--text xs12>
        <span class="white--text">&copy; 2019</span>
      </v-flex>
    </v-layout>
  </v-footer>
</template>
<script>
export default {
  data() {
    return {};
  }
};
</script>
