<template>
  <v-toolbar color="indigo" dark fixed app>
    <v-toolbar-title class="headline text-uppercase">
      <router-link to="/home" class="toolbar-title" id="tittle">
        <span>Proyecto</span>
        <span class="font-weight-light"> de Titulo</span>
      </router-link>
      <router-link to="/projects" class="toolbar-title" id="tittle">
        <span>Proyectos</span>
      </router-link>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn icon flat>
      <v-badge color="red" overlap>
        <template v-slot:badge>
          <span>0</span>
        </template>
        <v-icon large>
          notifications_none
        </v-icon>
      </v-badge>
    </v-btn>
    <v-btn icon flat>
      <v-badge color="red" overlap>
        <template v-slot:badge>
          <span>0</span>
        </template>
        <v-icon large>
          mail_outline
        </v-icon>
      </v-badge>
    </v-btn>
    <v-btn icon flat>
      <v-icon large>
        person
      </v-icon>
    </v-btn>
    <v-menu>
      <v-btn slot="activator" flat>
        <v-icon>settings</v-icon> {{ user.first_name }}
      </v-btn>

      <v-list dense>
        <v-list-tile>
          <v-list-tile-action>
            <v-icon>exit_to_app</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title @click="logout">Logout</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-menu>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn flat>
        <div id="user">{{ user.first_name }}</div>
      </v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>
<script lang="ts">
import { mapGetters, mapState } from "vuex";

export default {
  name: "App",
  data() {
    return {
      user: JSON.parse(localStorage.getItem("current_user")),
      notificación: "notifications_none, notifications",
      items: [
        { title: "Click Me" },
        { title: "Click Me" },
        { title: "Click Me" },
        { title: "Click Me 2" }
      ]
    };
  },
  computed: {
    ...mapGetters({
      //user: "GET_USER",
      is_logged: "IS_LOGGED"
    }),
    ...mapState(['currentUser'])
  },
  methods: {
    logout: function() {
      this.$store.dispatch("logout", {}).then(() => this.$router.push("/"));
    }
  }
};
</script>
<style scoped>
#tittle {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}
#user {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  font-size: 1.5rem;
}
</style>
