<template>
  <v-card>
    <v-card-title primary-title>
      <div>
        <h2 class="headline mb-0 text-md-center">{{ card_title }}</h2>
        <hr />
        <br />
        <span> <b> Participantes: </b>{{ card_part }} </span>
        <p>{{ card_text }}</p>
      </div>
    </v-card-title>
    <v-card-actions class="justify-center">
      <v-btn flat>
        <span class="numeros">50</span>
        <v-icon>
          favorite
        </v-icon>
      </v-btn>
      <v-btn flat>
        <span class="numeros">50</span>
        <v-icon>
          comment
        </v-icon>
      </v-btn>
      <v-btn flat color="black">Visitar</v-btn>
    </v-card-actions>
  </v-card>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  data: () => ({
    card_title: "Landslide prevention Chaiten",
    card_part: "Nelson, Jonathan, Sergio",
    card_text:
      "Determining dangerous places due to landslide possibilities in Chaiten and preparation works to mitigate it's consequences"
  })
});
</script>
<style>
.numeros {
  font-size: 1.2rem;
  margin: auto;
}
</style>
